* {
  margin: 0;
  font-family: "Roboto";
}

.container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 100% 5fr 3fr;
  grid-template-areas:
    "nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer";
  grid-gap: 0em;
}

.navBar {
  grid-area: nav;
  justify-content: center;
  color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: rgb(100, 93, 93);
}

.navBar a {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  color: #f2f2f2;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
}

.navBar a:hover {
  background-color: #ddd;
  color: rgb(121, 106, 106);
  transition: background-color 0.5s ease;
}

header {
  grid-area: header;
  background-color: #e7e7e7;
  padding: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #e7e7e7;
}

.foodIcon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 50%;
  margin: 2rem
}

.iconWrapper {
  margin-top: 15rem;
  margin-bottom: 15rem;

}

main {
  grid-area: main;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about {
  grid-area: main;
  padding: 5rem;
}

.aboutTitle {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: rgb(121, 106, 106);
}

.aboutP {
  display: flex;
  justify-content: center;
  text-align: justify;
  text-justify: inter-word;
  line-height: rem;
  font-size: 1.5rem;
  color: rgb(121, 106, 106);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 1rem;

}

.card {
  padding: .5rem;
  background-color: #e7e7e7;
  color: rgb(121, 106, 106);
  transition: 0.3s;
  border-radius: 1rem;
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2.5rem;
  position: relative;
  max-width: 15.625rem;
  max-height: 21.875rem;
  box-shadow: 0 0.625rem 2rem 0.5rem rgb(138, 135, 135);
}

.card img {
  border-radius: 0.3rem;
  width: 100%;
  height: 98%;
  object-fit: cover;
}

.card:hover {
  box-shadow: 0 1rem 3rem 0 rgb(138, 135, 135);
}


.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #e7e7e7;

}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  overflow: visible;
}

button, input, select, textarea {
  color: rgb(121, 106, 106);
  font: roboto;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#containerContent {
  border: solid 0.125rem rgb(121, 106, 106);
  max-width: 3rem;
  margin: 3.75rem auto;
  position: relative;
}

form {
  padding: 2.375rem;
  margin: 3.125rem 0;
}

h1 {
  color: rgb(121, 106, 106);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase;
}

.email {
  float: right;
  width: 45%;
}

input[type='text'], [type='email'], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 0.08rem rgb(121, 106, 106);
  color: rgb(121, 106, 106);
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}


.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 9.375rem;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: rgb(121, 106, 106);
}

:-moz-placeholder {
  color: rgb(121, 106, 106);
  opacity: 1;
}

::-moz-placeholder {
  color: rgb(121, 106, 106);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(121, 106, 106);
}

#form_button {
  background: none;
  border: solid 0.125rem rgb(121, 106, 106);
  border-radius: 6.25rem;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 1.25rem 2.188rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: rgb(121, 106, 106);
  color: #F2F3EB;
}

footer {
  grid-area: footer;
  background-color: rgb(121, 106, 106);
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;

}

@media screen and (max-width: 480px) {

  * {
    margin: 0;
    font-family: "Roboto";
    box-sizing: border-box;
  }

  .container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 100% 5fr 3fr;
    grid-template-areas:
      "nav nav nav"
      "header header header"
      "main main main"
      "footer footer footer";
    grid-gap: 0em;
  }

  .navBar {
    grid-area: nav;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: rgb(100, 93, 93);
  }

  .navBar a {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }

  .navBar a:hover {
    background-color: #ddd;
    color: rgb(121, 106, 106);
    transition: background-color 0.5s ease;
  }

  header {
    grid-area: header;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #e7e7e7;
  }

  .foodIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    opacity: 50%;
    margin: 2rem;
  }

  .iconWrapper {
    margin-top: 15rem;
    margin-bottom: 15rem;

  }

  main {
    grid-area: main;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .about {
    grid-area: main;
    padding: 2rem;
  }

  .aboutTitle {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: rgb(121, 106, 106);
  }

  .aboutP {
    display: flex;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    font-size: 1rem;
    color: rgb(121, 106, 106);
    margin: 2.3rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 1rem;
    margin-bottom: 10rem;
  }

  .card {
    padding: 0.5rem;
    background-color: #e7e7e7;
    color: rgb(121, 106, 106);
    transition: 0.3s;
    border-radius: 1rem;
    width: 120%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.5rem;
    position: relative;
    max-width: 15.625rem;
    max-height: 21.875rem;
    box-shadow: 0 0.625rem 2rem 0.5rem rgb(138, 135, 135);
  }

  .card img {
    border-radius: 0.3rem;
    width: 100%;
    height: 98%;
    object-fit: cover;
  }

  .card:hover {
    box-shadow: 0 1rem 3rem 0 rgb(138, 135, 135);
  }


  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  button {
    overflow: visible;
  }

  button, input, select, textarea {
    color: rgb(121, 106, 106);
    font: roboto;
    margin: 0;
  }

  input {
    line-height: normal;
  }

  textarea {
    overflow: auto;
  }

  #containerContent {
    border: solid 0.125rem rgb(121, 106, 106);
    max-width: 3rem;
    margin: 3.75rem auto;
    position: relative;
  }

  form {
    padding: 2.375rem;
    margin: 3rem;
  }

  h1 {
    color: rgb(121, 106, 106);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-align: center;
    text-transform: uppercase;
  }

  .email {
    float: right;
    width: 45%;
  }

  input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 0.08rem rgb(121, 106, 106);
    color: rgb(121, 106, 106);
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
  }

  .message {
    float: none;
  }

  .name {
    float: left;
    width: 45%;
  }

  select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }


  .subject {
    width: 100%;
  }

  .telephone {
    width: 100%;
  }

  textarea {
    line-height: 150%;
    height: 9.375rem;
    resize: none;
    width: 100%;
  }

  ::-webkit-input-placeholder {
    color: rgb(121, 106, 106);
  }

  :-moz-placeholder {
    color: rgb(121, 106, 106);
    opacity: 1;
  }

  ::-moz-placeholder {
    color: rgb(121, 106, 106);
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: rgb(121, 106, 106);
  }

  #form_button {
    background: none;
    border: solid 0.125rem rgb(121, 106, 106);
    border-radius: 6.25rem;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 1.25rem 2.188rem;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  #form_button:hover {
    background: rgb(121, 106, 106);
    color: #F2F3EB;
  }


  footer {
    grid-area: footer;
    background-color: rgb(121, 106, 106);
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #e7e7e7;

  }

}

@media screen and (max-width: 820px) and (min-width: 480px) {

  * {
    margin: 0;
    font-family: "Roboto";
    box-sizing: border-box;
  }

  .container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 100% 5fr 3fr;
    grid-template-areas:
      "nav nav nav"
      "header header header"
      "main main main"
      "footer footer footer";
    grid-gap: 0em;
  }

  .navBar {
    grid-area: nav;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: rgb(100, 93, 93);
  }

  .navBar a {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
  }

  .navBar a:hover {
    background-color: #ddd;
    color: rgb(121, 106, 106);
    transition: background-color 0.5s ease;
  }

  header {
    grid-area: header;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #e7e7e7;
  }

  .foodIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    opacity: 50%;
    margin: 2rem;
  }

  .iconWrapper {
    margin-top: 15rem;
    margin-bottom: 15rem;

  }

  main {
    grid-area: main;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .about {
    grid-area: main;
    padding: 2rem;
  }

  .aboutTitle {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgb(121, 106, 106);
  }

  .aboutP {
    display: flex;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    font-size: 1rem;
    color: rgb(121, 106, 106);
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 1rem;
    margin-bottom: 10rem;
  }

  .card {
    padding: 0.5rem;
    background-color: #e7e7e7;
    color: rgb(121, 106, 106);
    transition: 0.3s;
    border-radius: 1rem;
    width: 120%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.5rem;
    position: relative;
    max-width: 15.625rem;
    max-height: 21.875rem;
    box-shadow: 0 0.625rem 2rem 0.5rem rgb(138, 135, 135);
  }

  .card img {
    border-radius: 0.3rem;
    width: 100%;
    height: 98%;
    object-fit: cover;
  }

  .card:hover {
    box-shadow: 0 1rem 3rem 0 rgb(138, 135, 135);
  }


  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  button {
    overflow: visible;
  }

  button, input, select, textarea {
    color: rgb(121, 106, 106);
    font: roboto;
    margin: 0;
  }

  input {
    line-height: normal;
  }

  textarea {
    overflow: auto;
  }

  #containerContent {
    border: solid 0.125rem rgb(121, 106, 106);
    max-width: 3rem;
    margin: 3.75rem auto;
    position: relative;
  }

  form {
    padding: 2.375rem;
    margin: 3.125rem 0;
  }

  h1 {
    color: rgb(121, 106, 106);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-align: center;
    text-transform: uppercase;
  }

  .email {
    float: right;
    width: 45%;
  }

  input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 0.08rem rgb(121, 106, 106);
    color: rgb(121, 106, 106);
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
  }

  .message {
    float: none;
  }

  .name {
    float: left;
    width: 45%;
  }

  select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }


  .subject {
    width: 100%;
  }

  .telephone {
    width: 100%;
  }

  textarea {
    line-height: 150%;
    height: 9.375rem;
    resize: none;
    width: 100%;
  }

  ::-webkit-input-placeholder {
    color: rgb(121, 106, 106);
  }

  :-moz-placeholder {
    color: rgb(121, 106, 106);
    opacity: 1;
  }

  ::-moz-placeholder {
    color: rgb(121, 106, 106);
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: rgb(121, 106, 106);
  }

  #form_button {
    background: none;
    border: solid 0.125rem rgb(121, 106, 106);
    border-radius: 6.25rem;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 1.25rem 2.188rem;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  #form_button:hover {
    background: rgb(121, 106, 106);
    color: #F2F3EB;
  }


  footer {
    grid-area: footer;
    background-color: rgb(121, 106, 106);
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #e7e7e7;

  }

}